*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --Gold: hsl(31, 77%, 52%);
    --Cyan: hsl(184, 100%, 22%);
    --Green: hsl(179, 100%, 13%);
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    font-size: 15px;
    font-family: ;
    background-color: hsla(0,0%,95%);
    color: hsla(0,0%,100%,0.75);
    line-height: 1.5;
    justify-content: center;
    align-items: center;
}
.cantainer{
    display: flex;
    max-width: 900px;
}
.cantainer .item {
    padding: 45px;
}
.cantainer .item h1{
    margin: 15px 0;
}
.cantainer .item:first-child{
  border-radius: 10px 0 0 10px ; 
}
.cantainer .item:last-child{
    border-radius: 0 10px 10px 0;
}
.cantainer .item button{
    margin-top: 60px;
    border: 2px solid white;
    outline: none;
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 700;
    transition: 0.5s;
}
h1,h2,h3,h4,h5,h6{
    color: white;
    font-weight: 700;   
}
.cantainer .item button:hover{
    background-color: inherit;
    color:white ;
}
.btn-blue{
    color: var(--Gold);
}
.btn-blue{
    color: var(--Cyan);
}
.btn-green{
    color: var(--Green);
}
.orange{

    background-color: var(--Gold);
}
.blue{
    background-color: var(--Cyan);
}
.green{
    background-color: var(--Green);
}
@media(max-width:400px){
    .body{
        display: block;
        padding: 20px;
    }
    .cantainer{
        height: 100%;
        padding: 20px;
        flex-direction: column;
        margin: 10px auto;
    }
    .cantainer .item:first-child{
  border-radius: 10px 10px 0 0px ; 
}
.cantainer .item:last-child{
    border-radius: 0 0 10px 10px;
}
    .cantainer .item button:hover{
    background-color: inherit;
    color:white ;
}
.btn-blue{
    color: var(--Gold);
}
.btn-blue{
    color: var(--Cyan);
}
.btn-green{
    color: var(--Green);
}
.orange{

    background-color: var(--Gold);
}
.blue{
    background-color: var(--Cyan);
}
.green{
    background-color: var(--Green);
}
}